
.about-me {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.about-me-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.about-me-content > p ,h4 {
    color: white;
    font-size: 21px;
}

.profile-img > img {
    height: 260px;
    width: 260px;
    border-radius: 55%;
}

.about-me-page {
    height: 500px;
    width: 100vw;
    box-sizing: border-box;
    background: linear-gradient(to bottom left, #232058, #194ee0);
}
.about-me-content > h2 {
    color: white;
    font-size: 40px;
    font-weight: 500;
}